:root {
  --theme-color__primary: #4c3faf;

  &.light {
    color: #282828;
    background-color: #fff;
  }

  &.dark {
    color: #eaeaed;
    background-color: #121119;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
